@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-portait-only {
    @media (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == tablet-landscape-only {
    @media (min-width: 900px) and (max-width: 1199px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == desktop-only {
    @media (min-width: 1200px) and (max-width: 1799px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

.icon-urgent, .icon-top {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 0.8rem;
  font-style: normal;
  border-radius: 4px;
  margin: 0 4px;
  color: yellow;
  background-color: red;
}

.login-body {
  width: 100%;
  height: 100%;
  background: url(../images/bg/login_bj.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/* 蓝色主题 */
nav {
  background-color: #039be5;
}

.page-footer {
  background-color: #039be5;
}

#login-page {
  max-width: 500px;
  margin-top: 4rem;

  .login-form {
    padding: 20px;
  }

  .login-remember {
    position: relative;
    top: -1.5rem;
  }

  @include for-size(phone-only) {
    .login-img {
      img {
        width: 100px;
        height: 60px;
      }
    }
    .login-form {
      .row {
        margin-bottom: 0;
      }
    }
  }
  @include for-size(tablet-landscape-up) {
    margin-top: 8rem;
  }
}

#register-page {
  max-width: 500px;
  margin-top: 2rem;

  .register-form {
    padding: 20px;

    .register-code {
      display: inline-block;
      width: 120px;
      height: 44px;
      background-color: aqua;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }

  @include for-size(phone-only) {
    .register-sent {
      button {
        font-size: 12px;
      }
    }
    .register-img {
      img {
        width: 100px;
        height: 60px;
      }
    }
    .register-form {
      .row {
        margin-bottom: 0;

        .register-code {
          width: 84px;
          height: 44px;
        }
      }
    }
  }
  @include for-size(tablet-landscape-up) {
    margin-top: 4rem;
  }
}

.navbar-fixed {
  .nav-wrapper {
    .brand-logo {
      img {
        height: 56px;
        width: 136px;
      }

      @include for-size(tablet-landscape-up) {
        margin-left: 1rem;
        img {
          height: 64px;
          width: 140px;
        }
      }
    }

    .button-collapse {
      display: none;
    }

    .login-btn {
      display: none;
      position: absolute;
      right: 1rem;
      top: 14px;
    }

    .select-wrapper {
      width: 90px;
      margin-top: 10px;

      input.select-dropdown {
        color: #fff;
        font-size: 1rem;
      }
    }
  }
}

.navbar-slidenav {
  .sidenav-trigger {
    display: none;
    position: fixed;
    left: 1rem;
    top: 0;
    height: 48px;
    width: 48px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    z-index: 999;
  }

  .user-select {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 90px;

    input.select-dropdown {
      color: #fff;
    }
  }
}

.r-carousel.carousel.carousel-slider {
  max-height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }

  @include for-size(phone-only) {
    max-height: 160px;
  }
}

.r-announcement {
  padding: 0 1rem;
  height: 60px;
  overflow: hidden;

  i {
    float: left;
    line-height: 60px;
  }

  ul {
    padding: 0 4px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eaeaea;
    overflow: hidden;

    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30px;

      span {
        display: inline-block;
        min-width: 74px;
      }
    }
  }
}

.r-card {
  h6 {
    a {
      float: right;
      color: #26a69a;
      vertical-align: middle;
    }

    i {
      color: red;
      vertical-align: middle;
      margin-right: 4px;
    }
  }

  .truncate {
    display: inline-block;
    width: 85%;
  }

}

.r-card:nth-child(2) {
  .truncate {
    display: inline-block;
    width: 80%;
  }
}

.list-search {
  margin-top: 20px;
  padding: 0 1.5rem;
  border: 1px solid #ee6e73;
}

.list-radio {
  ul {
    border-color: #ee6e73;
  }

  .collection-item {
    .item-title {
      display: table-cell;
      min-width: 70px;
    }

    .item-ul {
      display: table-cell;

      li {
        display: inline-block;
      }

      &.item-select > li {
        width: 100px;
      }
    }
  }
}

.list-table {
  padding: 1rem;
  border: 1px solid #ee6e73;
  margin: 10px auto 20px;
}

.list-pagination {
  ul {
    text-align: right;
  }
}

.card-content {
  .card-title {
    color: #ee6e73;
  }

  .card-item {
    .input-field {
      margin-top: 0;
      @include for-size(phone-only) {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

.custom-taocan {
  h6 {
    margin: 30px auto 20px;
    color: #ee6e73;
    font-weight: 700;
  }
}

.custom-pay {
  h6 {
    margin-bottom: 30px;
    color: #ee6e73;
    font-weight: 700;
  }

  label {
    span {
      img {
        width: 180px;
        height: 180px;
        @include for-size(phone-only) {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

.rechange-radio {
  & > div {
    margin-top: 1rem;
  }

  .row {
    & > div {
      margin: 1rem 0;
    }
  }

  label {
    line-height: 2;
    font-size: 14px;
    color: #26a69a;
  }
}

.r-center {
  margin-top: 1.5rem;

  .center-nav {
    min-width: 160px;
    min-height: 594px;
    padding: 2rem 0;
    text-align: center;

    dl, dd, dt {
      margin: 0;
      padding: 0;
      font-weight: 600;
    }

    dt {
      a {
        display: inline-block;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }

      }
    }

    li {
      line-height: 2;
      color: #ee6e73;

      .divider {
        margin: 1.2rem 0;
      }

      a {
        color: #666;

        i.small {
          vertical-align: middle;
        }

        &.active {
          color: #ee6e73;
        }
      }
    }
  }

  .select-wrapper {
    margin-bottom: 2rem;
    @include for-size(phone-only) {
      margin-bottom: 1rem;
    }
  }

  .card {
    .card-content {
      .card-title {
        margin-bottom: 16px;
        @include for-size(phone-only) {
          margin-bottom: 8px;
        }
      }

      .card-item-data {
        line-height: 2;
      }

      &.card-subscription {
        .subscription-404 {
          img {
            width: 100%;
            margin-top: 2rem;
          }
        }

        table {
          .truncate {
            max-width: 200px;
          }
        }

        .subscription-item {
          display: none;
          padding: 1rem 0;
          border-radius: 5px;
          line-height: 1.8;

          .subscription-item-lef {
            display: table-cell;
            width: 70px;
          }

          .subscription-item-right {
            display: table-cell;
          }

          .btn-small {
            margin: 10px 5px;
          }
        }
      }

      &.card-resume {
        .resume-404 {
          img {
            width: 100%;
            margin-top: 2rem;
          }
        }

        table {
          .truncate {
            max-width: 200px;
          }

          .td-option {
            min-width: 200px;
          }
        }

        .resume-item {
          display: none;
          padding: 1rem 0;
          border-radius: 5px;
          line-height: 1.8;

          .resume-item-lef {
            display: table-cell;
            width: 70px;
          }

          .resume-item-right {
            display: table-cell;
          }

          .btn-small {
            margin: 10px 5px;
          }
        }
      }

      &.card-buy {
        .buy-404 {
          img {
            width: 100%;
            margin-top: 2rem;
          }
        }

        table {
          .truncate {
            max-width: 200px;
          }
        }

        .buy-item {
          display: none;
          padding: 1rem 0;
          border-radius: 5px;
          line-height: 1.8;

          .buy-item-lef {
            display: table-cell;
            width: 70px;
          }

          .buy-item-right {
            display: table-cell;
          }

          .btn-small {
            margin: 10px 5px;
          }
        }
      }

      &.card-set {
        .set-404 {
          img {
            width: 100%;
            margin-top: 2rem;
          }
        }

        table {
          .td-option {
            min-width: 80px;
          }
        }

        .set-item {
          display: none;
          padding: 1rem 0;
          border-radius: 5px;
          line-height: 1.8;

          .set-item-lef {
            display: table-cell;
            width: 70px;
          }

          .set-item-right {
            display: table-cell;
          }

          .btn-small {
            margin: 10px 5px;
          }
        }
      }

      &.card-chart {
        .chart-404 {
          img {
            width: 100%;
            margin-top: 2rem;
          }
        }

        table {
          .truncate {
            max-width: 200px;
          }

          .td-option {
            min-width: 160px;
          }
        }

        .chart-item {
          padding: 1rem 0;
          border-radius: 5px;
          line-height: 1.8;

          .chart-item-lef {
            display: table-cell;
            width: 80px;
          }

          .chart-item-right {
            display: table-cell;
          }

          .btn-small {
            margin: 10px 5px;
          }
        }
      }

      &.card-feedback {
        .feedback-item {
          padding: 1rem 0;
          border-radius: 5px;
          line-height: 1.8;

          .feedback-item-lef {
            display: table-cell;
            width: 80px;
          }

          .feedback-item-right {
            display: table-cell;
          }

          .btn-small {
            margin: 10px 5px;
          }
        }
      }
    }
  }

  .character-counter {
    color: #000;
  }
}

#fixedNav {
  display: none;

  ul {
    left: -3px;

    li {
      .btn-floating {
        width: 64px;
        font-size: 12px;
      }
    }
  }
}

.r-about {
  .about-tabs {
    margin: 1.4rem 0;
  }

  .about-content {
    font-size: 14px;
  }
}
