@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-portait-only {
    @media (min-width: 600px) and (max-width: 899px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == tablet-landscape-only {
    @media (min-width: 900px) and (max-width: 1199px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == desktop-only {
    @media (min-width: 1200px) and (max-width: 1799px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

.login-body {
  width: 100%;
  height: 100%;
  background: url(../images/bg/login_bj.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

#login-page {
  max-width: 500px;
  margin-top: 4rem;
  .login-form {
    padding: 20px;
  }
  .login-remember {
    position: relative;
    top: -1.5rem;
  }
  @include for-size(phone-only) {
    .login-img {
      img {
        width: 100px;
        height: 60px;
      }
    }
    .login-form {
      .row {
        margin-bottom: 0;
      }
    }
  }
  @include for-size(tablet-landscape-up) {
    margin-top: 8rem;
  }
}

#register-page {
  max-width: 500px;
  margin-top: 2rem;
  .register-form {
    padding: 20px;
    .register-code {
      display: inline-block;
      width: 120px;
      height: 44px;
      background-color: aqua;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
  @include for-size(phone-only) {
    .register-sent {
      button {
        font-size: 12px;
      }
    }
    .register-img {
      img {
        width: 100px;
        height: 60px;
      }
    }
    .register-form {
      .row {
        margin-bottom: 0;
        .register-code {
          width: 84px;
          height: 44px;
        }
      }
    }
  }
  @include for-size(tablet-landscape-up) {
    margin-top: 4rem;
  }
}

.navbar-fixed {
  .nav-wrapper {
    .brand-logo {
      img {
        height: 56px;
        width: 136px;
      }
      @include for-size(tablet-landscape-up) {
        margin-left: 1rem;
        img {
          height: 64px;
          width: 140px;
        }
      }
    }
    .button-collapse {
      display: none;
    }
  }
}

.navbar-slidenav {
  .sidenav-trigger {
    display: none;
    position: fixed;
    left: 1rem;
    top: 0;
    height: 48px;
    width: 48px;
    color: #fff;
    text-align: center;
    font-size: 36px;
    z-index: 999;
  }
}

.r-carousel.carousel.carousel-slider {
  max-height: 300px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
  @include for-size(phone-only) {
    max-height: 160px;
  }
}

.r-announcement {
  padding: 0 1rem;
  height: 60px;
  overflow: hidden;
  i {
    float: left;
    line-height: 60px;
  }
  ul {
    padding: 0 4px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eaeaea;
    overflow: hidden;
    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30px;
      span {
        display: inline-block;
        min-width: 74px;
      }
    }
  }
}

.r-card {
  h6 {
    a {
      float: right;
      color: #26a69a;
      vertical-align: middle;
    }
    i {
      color: red;
      vertical-align: middle;
      margin-right: 4px;
    }
  }
  .truncate {
    display: inline-block;
    width: 85%;
  }

}

.r-card:nth-child(2) {
  .truncate {
    display: inline-block;
    width: 80%;
  }
}

.list-search {
  margin-top: 20px;
  padding: 0 1.5rem;
  border: 1px solid #ee6e73;
}

.list-radio {
  ul {
    border-color: #ee6e73;
  }
  .collection-item {
    .item-title {
      display: table-cell;
      min-width: 70px;
    }
    .item-ul {
      display: table-cell;
      li {
        display: inline-block;
      }
      &.item-select > li {
        width: 100px;
      }
    }
  }
}

.list-table {
  padding: 1rem;
  border: 1px solid #ee6e73;
  margin: 10px auto 20px;
}

.list-pagination {
  ul {
    text-align: right;
  }
}

.card-content {
  .card-title {
    color: #ee6e73;
  }
  .card-item {
    .input-field {
      margin-top: 0;
      @include for-size(phone-only) {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

.custom-taocan {
  h6 {
    margin: 30px auto 20px;
    color: #ee6e73;
    font-weight: 700;
  }
}

.custom-pay {
  h6 {
    margin-bottom: 30px;
    color: #ee6e73;
    font-weight: 700;
  }
  label {
    span {
      img {
        width: 180px;
        height: 180px;
        @include for-size(phone-only) {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
