<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>求职列表-求职详情</title>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Import main.css-->
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
@@include('./header.html', {
"jobList" : "active"
})
<div class="container r-joblist">
  <div class="list-detail">
    <div class="row">
      <div class="col s12 m12">
        <div class="card red lighten-2">
          <div class="card-content white-text">
            <span class="card-title">求职者基本信息 <i class="material-icons yellow-text">急</i> <i class="material-icons yellow-text">顶</i></span>
            <div class="row">
              <div class="col s12 m6">
                <span>求职者名称：</span>
                <span>Maricale</span>
              </div>
              <div class="col s12 m6">
                <span>求职者年龄：</span>
                <span>28</span>
              </div>
              <div class="col s12 m6">
                <span>求职者性别：</span>
                <span>男</span>
              </div>
              <div class="col s12 m6">
                <span>工作年限：</span>
                <span>3年</span>
              </div>
              <div class="col s12 m6">
                <span>期望薪资：</span>
                <span>28K</span>
              </div>
              <div class="col s12 m6">
                <span>期望工作地点：</span>
                <span>Makati</span>
              </div>
              <div class="col s12 m6">
                <span>是否已婚：</span>
                <span>否</span>
              </div>
              <div class="col s12 m6">
                <span>是否在国内：</span>
                <span>否</span>
              </div>
              <div class="col s12 m6">
                <span>是否持有护照：</span>
                <span>是</span>
              </div>
              <div class="col s12 m6">
                <span>求职状态：</span>
                <span>在职</span>
              </div>
              <div class="col s12 m6">
                <span>目前所在地：</span>
                <span>泰国</span>
              </div>
            </div>
            <div class="row">
              <div class="col m12 s12">
                <h6>求职者自我评价</h6>
              </div>
              <div class="col m12 s12">
                <p>蓓尔兹钢琴，专业钢琴培训，您身边的音乐教育专家。
                  1、蓓尔兹目标：秉承“用音乐改变生活”的教学理念，选用欧美钢琴教学体系，立足北京。在培养学员钢琴演奏技能和艺术综合素养的同时，提升学生自信心、创造力、专注力和宏观思维能力，让每一位学员成为自信、内心愉悦，有发现快乐能力和艺术鉴赏能力的未来社会人。
                  2、蓓尔兹理念：Belz坚信，音乐教育首先是人的教育，并不是音乐家独享的教育。Belz piano将启发，兴趣，分享，实践融入孩子的生活，用音乐改变生活。希望每一位学员像音乐家一样表演音乐、表现自我。
                  3、蓓尔兹钢琴教学方式：沿袭国外教学体系，小组工作制，在分享互助的氛围中学习钢琴的基本课程，乐理知识。一对一高效学习演奏、和技巧。
                  4、关于蓓尔兹教学团队：师资团队均是国内外音乐学院出身，每周分享会，每月研讨会，每季度为学员进行质量综合测评，查漏补缺。</p>
              </div>
            </div>
          </div>

          <div class="card-action">
            <a href="#" class="btn">查看详细简历</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@@include('./footer.html')
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--Import  main.js-->
<script src="/static/js/main.js"></script>
</body>
</html>
</html>
