<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>个人中心-我的购买</title>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Import main.css-->
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<!--公共头部-->
@@include('./header.html', {
"jobCenter" : "active"
})
<!--主体内容-->
<div class="container r-center row">
  <div class="col l3 hide-on-med-and-down">
    <!--左侧二级导航栏-->
    @@include('./sideNav.html',{
    "centerBuy" : "active"
    })
  </div>
  <div class="col m12 l9">
    <!--右侧主要内容-->
    <div class="row">
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-content card-buy">
            <span class="card-title">已购买列表</span>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix large">search</i>
                <input type="text" id="buySearch" class="autocomplete">
                <label for="buySearch">请输入简历标题</label>
              </div>
            </div>
            <!--移动屏幕下的内容-->
            <div class="row buy-item blue-grey darken-1 white-text z-depth-2 show-on-small">
              <div class="col s12">
                <span class="buy-item-lef">简历类型：</span><span class="buy-item-right">Java</span>
              </div>
              <div class="col s12">
                <span class="buy-item-lef">工作年限：</span><span class="buy-item-right">5年</span>
              </div>
              <div class="col s12">
                <span class="buy-item-lef">求职者昵称：</span><span class="buy-item-right">Java开发工程师</span>
              </div>
              <div class="col s12">
                <span class="buy-item-lef">简历标题：</span><span class="buy-item-right">Java求职，高级Java，Java求职，高级Java</span>
              </div>
              <div class="col s12">
                <span class="buy-item-lef">购买时间：</span><span class="buy-item-right">2018-07-05</span>
              </div>
              <div class="col s12">
                <a href="javascript:" class="waves-effect waves-light btn-small">详情</a>
              </div>
            </div>
            <div class="row buy-item blue-grey darken-1 white-text z-depth-2 show-on-small">
              <div class="col s12">
                <span class="buy-item-lef">简历类型：</span><span class="buy-item-right">前端</span>
              </div>
              <div class="col s12">
                <span class="buy-item-lef">工作年限：</span><span class="buy-item-right">5年</span>
              </div>
              <div class="col s12">
                <span class="buy-item-lef">求职者昵称：</span><span class="buy-item-right">前端开发工程师</span>
              </div>
              <div class="col s12">
                <span class="buy-item-lef">简历标题：</span><span class="buy-item-right">前端老司机</span>
              </div>
              <div class="col s12">
                <span class="buy-item-lef">购买时间：</span><span class="buy-item-right">2018-12-05</span>
              </div>
              <div class="col s12">
                <a href="javascript:" class="waves-effect waves-light btn-small">详情</a>
              </div>
            </div>
            <!--PC屏幕下的内容-->
            <table class="highlight responsive-table hide-on-small-only">
              <thead>
              <tr>
                <td>简历类型</td>
                <td>工作年限</td>
                <td>求职者昵称</td>
                <td>简历标题</td>
                <td>购买时间</td>
                <td>操作</td>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>
                  Java
                </td>
                <td>
                  5年
                </td>
                <td>
                  我不是光头
                </td>
                <td class="truncate">
                  Java求职，高级Java
                  Java求职，高级Java
                  Java求职，高级Java
                  Java求职，高级Java
                  Java求职，高级Java
                  Java求职，高级Java
                </td>
                <td>
                  2018-07-05 12:00:00
                </td>
                <td class="td-option">
                  <a href="javascript:" class="waves-effect waves-light btn-small">详情</a>
                </td>
              </tr>
              <tr>
                <td>
                  前端
                </td>
                <td>
                  5年
                </td>
                <td>
                  我不是光头
                </td>
                <td class="truncate">
                  前端老司机
                </td>
                <td>
                  2018-07-05 12:00:00
                </td>
                <td class="td-option">
                  <a href="javascript:" class="waves-effect waves-light btn-small">详情</a>
                </td>
              </tr>
              </tbody>
            </table>
            <!--无内容-->
            <div class="row buy-404">
              <div class="col m12 s12">
                <img src="../../static/images/bg/page-404.png" alt="">
              </div>
            </div>
            <div class="row">
              <a class="waves-effect waves-light btn" href="../JobCustom/index.html">前往购买</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--悬浮二级导航-->
@@include('./fixedNav.html')
<!--公共底部-->
@@include('./footer.html')
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--Import  main.js-->
<script src="/static/js/main.js"></script>
</body>
</html>
</html>
