<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta name="full-screen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>个人中心-我的套餐</title>
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Import main.css-->
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<!--公共头部-->
@@include('./header.html', {
"jobCenter" : "active"
})
<!--主体内容-->
<div class="container r-center row">
  <div class="col l3 hide-on-med-and-down">
    <!--左侧二级导航栏-->
    @@include('./sideNav.html',{
    "centerSet" : "active"
    })
  </div>
  <div class="col m12 l9">
    <!--右侧主要内容-->
    <div class="row">
      <div class="col s12">
        <div class="card hoverable">
          <div class="card-content card-set">
            <span class="card-title">我的套餐</span>
            <!--移动屏幕下的内容-->
            <div class="row set-item blue-grey darken-1 white-text z-depth-2 show-on-small">
              <div class="col s12">
                <span class="set-item-lef">套餐名称：</span><span class="set-item-right">VIP1套餐</span>
              </div>
              <div class="col s12">
                <span class="set-item-lef">套餐价格：</span><span class="set-item-right">150元</span>
              </div>
              <div class="col s12">
                <span class="set-item-lef">套餐购买时间：</span><span class="set-item-right">2018-12-05 00:00:00</span>
              </div>
              <div class="col s12">
                <span class="set-item-lef">套餐到期时间：</span><span class="set-item-right">2019-12-05 00:00:00</span>
              </div>
              <div class="col s12">
                <span class="set-item-lef">套餐状态：</span><span class="set-item-right">有效</span>
              </div>
              <div class="col s12">
                <a href="main5-1.html" class="waves-effect waves-light btn-small">详情</a>
              </div>
            </div>
            <!--PC屏幕下的内容-->
            <table class="highlight responsive-table hide-on-small-only">
              <thead>
              <tr>
                <td>套餐名称</td>
                <td>套餐价格</td>
                <td>套餐购买时间</td>
                <td>套餐到期时间</td>
                <td>套餐状态</td>
                <td>操作</td>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>
                  VIP1套餐
                </td>
                <td>
                  150元
                </td>
                <td>
                  2018-12-05 00:00:00
                </td>
                <td>
                  2019-12-05 00:00:00
                </td>
                <td>
                  有效
                </td>
                <td class="td-option">
                  <a href="main5-1.html" class="waves-effect waves-light btn-small">详情</a>
                </td>
              </tr>
              </tbody>
            </table>
            <!--无内容-->
            <div class="row set-404">
              <div class="col m12 s12">
                <img src="../../static/images/bg/page-404.png" alt="">
              </div>
            </div>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn" href="../JobCustom/index.html">购买套餐</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--悬浮二级导航-->
@@include('./fixedNav.html')
<!--公共底部-->
@@include('./footer.html')
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--Import  main.js-->
<script src="/static/js/main.js"></script>
</body>
</html>
</html>
