<!-- Navbar -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="index.html" class="brand-logo"><img src="/static/images/gulp.png" class="logo-img" alt=""></a>
        <!-- Navbar menu -->
        <ul class="right hide-on-med-and-down">
          <li @@if (context.index==='active') { class="active" }><a href="/index.html">首页</a></li>
          <li @@if (context.jobList==='active') { class="active" }><a href="/views/JobList/index.html">求职列表</a></li>
          <li @@if (context.jobAsk==='active') { class="active" }><a href="/views/JobAsk/index.html">我要求职</a></li>
          <li @@if (context.jobCustom==='active') { class="active" }><a href="/views/JobCustom/index.html">定制招聘</a></li>
          <li @@if (context.JobCenter==='active') { class="active" }><a href="/views/JobCenter/index.html">个人中心</a></li>
          <li>
            <a href="#"
               class="waves-effect waves-light btn yellow darken-2 grey-text text-darken-4 segment-track-login">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar menu mobile -->
<div class="navbar-slidenav">
  <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-down"><i class="material-icons">menu</i></a>
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="/static/images/others/office.jpg">
        </div>
        <a href="#!user"><img class="circle" src="/static/images/others/user_img.jpg"></a>
        <a href="#!name"><span class="white-text name">张三</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@sina.com</span></a>
      </div>
    </li>
    <li class="first-link"><a href="/views/JobList/index.html"><i class="material-icons">format_align_left</i>求职列表</a></li>
    <li class="first-link"><a href="/views/JobAsk/index.html"><i class="material-icons">format_textdirection_l_to_r</i>我要求职</a></li>
    <li class="first-link"><a href="/views/JobCustom/index.html"><i class="material-icons">filter_list</i>定制招聘</a></li>
    <li class="first-link"><a href="/views/JobCenter/index.html"><i class="material-icons">portrait</i>个人中心</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader" href="#!">常见问题</a></li>
    <li><a class="subheader">联系我们</a></li>
  </ul>
</div>
